extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':1314/greetgohub/api'

block body
    app
    app-loginPage
    script(src="js/main.js", type="text/javascript")
